<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}IDS Lanzillota{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=PT+Sans:wght@400;700&family=Prompt:wght@400;500;700&family=Red+Hat+Display:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}"/>
    {% block extra_styles %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <header class="header-private">
      <a href="{{ url_for('landing.landing') }}" class="header-private-logo"
        >IDS Lanzillota</a
      >
      <nav class="header-private-nav">
        <a
          href="{{ url_for('dashboard.dashboard') }}"
          class="{% if active_page == 'dashboard' %}is-active{% endif %}"
          >Dashboard</a
        >
        <a href="{{ url_for('courses.courses') }}">Cursos</a>
        <a href="#">Usuarios</a>
        <a href="#">Asistencia</a>
      </nav>
      {% from "components/dropdown.html" import dropdown_profile %}
      {% if session.get('user') %}
        {{ dropdown_profile(session.get('user')) }}
      {% endif %}
    </header>
    {% block content %}{% endblock %}
    <footer class="footer-private">
      <div class="footer-private-container">
        <div class="footer-private-info">
          <p>
            Introducción al Desarrollo de Software, Cátedra Lanzillota © 2026
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
