{% extends "base.html" %}

{% block title %}Panel FIUBA - Cronograma{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block content %}
<section class="section-header-schedule">
  <h1>Cronograma</h1>
  <p>Fechas, temas y modalidades de cada clase del cuatrimestre actual</p>
</section>
<section class="section-schedule" >
  <div>
    {% if selected_subject%}
    <select title="select-course" id="select-courses">
      <option value="" selected>Seleccione una materia</option>
      {% for course in courses %}
      <option value="{{ course.id_curso }}">{{ course.catedra }}</option>
      {% endfor %}
    </select>
    {% endif %}
  </div>
  <div>
    {% if selected_subject %}
    <p id="msg-select-course">
      Por favor, seleccione una catedra para ver su cronograma.
    </p>
    <div id="classes-container" class="classes-container">
      {% if schedule %}
        {% for week in schedule %}
        <div class="class" >
          <h2>Semana: {{ week.week }}</h2>
          {% for class in week.classes %}
          <article data-course="{{ class.id_curso }}">
            <h3>{{ class.tipo }} - {{ class.fecha }}</h3>
            <p>{{ class.temas }}</p>
            <span>{{ class.modalidad }}</span>
          </article>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% else %}
    <p>Por favor, seleccione una materia</p>
    {% endif %}
  </div>
</section>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}