{% extends "base.html" %}

{% block title %}Editar aviso{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/advertisements.css') }}">
{% endblock %}
{% block content %}
<section class="advertisements-section">
  <div class="advertisements-container">

    <div class="advertisements-header">
      <h1 class="advertisements-title">Editar aviso</h1>
      <p class="advertisements-subtitle">
        Modificá el título o el mensaje del aviso.
      </p>
    </div>

    <form method="POST" class="advertisement-form">

        <input
            type="hidden"
            name="id_curso"
            value="{{ id_curso }}"
        >

      <div class="form-group">
        <label for="titulo">Título</label>
        <input
          type="text"
          id="titulo"
          name="titulo"
          value="{{ aviso.titulo }}"
          required
        >
      </div>

      <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea
          id="mensaje"
          name="mensaje"
          required
        >{{ aviso.mensaje }}</textarea>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-crear btn-publicar">
          Guardar cambios
        </button>

        <a
          class="btn-crear"
          href="javascript:history.back()"
        >
          Cancelar
        </a>
      </div>

    </form>

  </div>
</section>
{% endblock %}